:root {
    --default-font: "Inter", Arial, Helvetica, sans-serif;
    --bg-color: #f2f3f4;

    --default-color: rgb(30, 29, 29);
    --secondary-color: #E4CF1B;
    --accent-color: #1B30E4;
}

body {
    font-family: var(--default-font);
    color: var(--default-color);
    /* background-color: var(--bg-color); */
    background-color: var(--bg-color);
    /* background-image: linear-gradient(to right, #434343 0%, black 100%); */
    transition: all .2s ease-in;
    height: 300vh;
}


p {
    word-wrap: break-word;
    color: var(--default-color);
    opacity: 0.7;
}



/* Navbar styling */
nav#site-nav {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: rgb(0, 0, 0);
    z-index: 5;
    /* justify-content: space-between; */
    /* border: 1px solid var(--secondary-color); */
}

nav#site-nav:hover {
    opacity: 1;
}

nav img#site-logo {
    width: 150px;
    height: 100px;
    margin-right: 100px;
}

.nav-section.section__right {
    flex: 1;
}

ul#site-navigation {
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
}


ul#site-navigation li{
    display: inline;
    transition: transform .25s ease-in-out;
}

ul#site-navigation li a.site-navigation__link {
    color: white;
    text-decoration: none;
    position: relative;
    padding-left: 10px;
    padding-bottom: 5px;
    /* font-weight: bolder; */
}

ul#site-navigation li a.site-navigation__link::before {
    content: "";
    position: absolute;
    width: 75%;
    height: 100%;
    bottom: 0;
    left: 0;
    /* right: 0; */
    /* transition: all .5s ease-in-out; */
}

ul#site-navigation li:hover {
    transform: scale(1.15);
}

ul#site-navigation li:nth-last-child(1):hover {
    transform: none;
}

ul#site-navigation li a.site-navigation__link:hover::before {
    /* border-radius: 3px; */
    background-color: var(--secondary-color);
    animation-name: link-border;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    transform: skew(20deg);
    z-index: -1;


}

@keyframes link-border {
    from {
        width: 0;
    }
    to {
        width: 75%;
    }
}



ul#site-navigation li:nth-last-child(1) a{
    margin-left: 100px;
    color: black;
    background-color: var(--secondary-color);
    padding: 25px;
    font-weight: 600;
    font-stretch: expanded;

}

ul#site-navigation li:nth-last-child(1) a:hover::before {
    background-color: transparent;
    animation-name: none;
    animation-duration: 0;
    animation-timing-function: none;
    transform: none;
}

/* Navbar Styling */





/* Homepage Styling */

#site-heading {
    margin: 0;
    color: var(--secondary-color);
}

section.site-section {
    height: 100vh;
}

section.site-section.intro-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 80vw;
    margin: auto;
    position: relative;
    /* border: 1px solid white; */
}

section.site-section.intro-section::before {
    content: "";
    height: 100%;
    position: absolute;
    width: 50px;
    top: 20px;
    transform: skew(30deg);
    left: 45%;
    background-color: black;
    z-index: -1;
}


section.site-section .intro-section__container {
}

section.site-section .intro-section__container.intro-section-left {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
    width: 50%;
}

section.site-section .intro-section__container.intro-section-right {
    width: 50%;
    display: flex;
    position: relative;
    flex-direction: column;
    /* border: 2px solid var(--accent-color); */
    /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
    /* background-color: var(--secondary-color); */
}   

section.site-section .intro-section__container.intro-section-right img#construction-image {
    background-repeat: no-repeat;
    object-fit: contain;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    
    /* position: relative; */
    /* z-index: -1; */

}

section.site-section .intro-section__container.intro-section-right div#owner-details {
    position: absolute;
    bottom: -100px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
}

section.site-section .intro-section__container.intro-section-right div#owner-details div{
    height: 100%;
}

section.site-section .intro-section__container.intro-section-right div#owner-details div:nth-child(1){
    height: fit-content;
}

div#owner-details div:nth-child(1) p {
    margin: 0;
    opacity: 1;
    font-size: 1em;
    font-weight: 600;
}

section.site-section .intro-section__container.intro-section-right div#owner-details div:nth-child(2) {
    height: 50%;
}

section.site-section .intro-section__container.intro-section-right div#owner-details img#trust-image {
    margin-left: 10px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}



h1#site-heading {
    font-weight: bolder;
    letter-spacing: 0.1em;
    width: 400px;
    font-size: 4.5rem;
    text-align: center;
    color: var(--default-color);
}

h1#site-heading span::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    border-bottom: 5px solid var(--default-color);
    animation-name: grow-border;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;  
}

@keyframes grow-border {
    from {
        width: 0%;
        border-bottom-color: var(--accent-color);
    } to {
        width: 55%;
        border-bottom-color: var(--default-color);
    }
}


h1#site-heading::first-letter {
    font-size: larger;
    /* text-decoration: underline white 5px; */
}

img.intro-section__image {
    opacity: 0;
    position: absolute;
    width: 200px;
    height: 200px;
    right: 80px;
    top: -50px;
    z-index: -1;
}


h1#site-heading span {
    /* margin-left: -200px; */
    position: relative;
    /* padding-bottom: 10px; */
}

p#company-introduction {
    /* display: none; */
    width: 400px;
    word-wrap: break-word;
    color: var(--default-color);
    opacity: 0.7;
    padding-left: 5px;
    /* text-align: center;
    margin: auto; */
}

.site-text {
    word-wrap: break-word;
    color: var(--default-color);
}

.site-section.services-section {
    border: 3px solid white;
    position: relative;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    height: 100vh;
    /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
    /* 
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,0.2884863418023459) 100%); */

    /* background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,0.7954891429227942) 12%, rgba(252,82,150,0.6386263978247548) 73%, rgba(253,156,195,0.32209978718049714) 97%, rgba(255,255,255,0) 100%); */
}
/* 
.site-section.services-section::before {
    content: "";
    width: 100%;
    height: 200px;
    position: absolute;
    top:-200px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.6386263978247548) 0%, rgba(194,109,143,0.32209978718049714) 100%);
} */

.site-section.services-section::after {
    content: "";
    height: 100vh;
    width: 30%;
    position: absolute;
    top: -3px;
    left: 60%;
    transform: skew(10deg);
    border-left: 3px solid white;
    border-right: 3px solid white;
    background-color: var(--secondary-color);
}


/* Homepage Styling */