:root {
    --default-font: "Inter", Arial, Helvetica, sans-serif;
    --bg-color: white;

    --default-color: rgb(30, 29, 29);
    --secondary-color: #E4CF1B;
    --accent-color: hsl(160, 79%, 50%);
}

body {
    font-family: var(--default-font);
    color: var(--default-color);
    /* background-color: var(--bg-color); */
    background-color: var(--bg-color);
    /* background-image: linear-gradient(to right, #434343 0%, black 100%); */
    height: 350vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: #353839;

}


p {
    word-wrap: break-word;
    color: var(--default-color);
}

div#site-wrapper {
    height: 100%;
    position: relative;
}


/* Navbar styling */
nav#site-nav {
    height: 10vh;
    width: 100vw;
    max-width: 100vw;
    display: flex;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.402);
    z-index: 5;
    /* justify-content: space-between; */
    /* border: 1px solid var(--secondary-color); */
}

nav#site-nav:hover {
    opacity: 1;
}

nav img#site-logo {
    width: 150px;
    height: 100px;
    margin-right: 100px;
}

.nav-section.section__right {
    flex: 1;
}

ul#site-navigation {
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
}


ul#site-navigation li{
    display: inline;
    transition: transform .25s ease-in-out;
}

ul#site-navigation li a.site-navigation__link {
    color: white;
    text-decoration: none;
    position: relative;
    padding-left: 10px;
    padding-bottom: 5px;
    /* font-weight: bolder; */
}

ul#site-navigation li a.site-navigation__link::before {
    content: "";
    position: absolute;
    width: 75%;
    height: 100%;
    bottom: 0;
    left: 0;
    /* right: 0; */
    /* transition: all .5s ease-in-out; */
}

ul#site-navigation li:hover {
    transform: scale(1.15);
}

ul#site-navigation li:nth-last-child(1):hover {
    transform: none;
}

ul#site-navigation li a.site-navigation__link:hover::before {
    /* border-radius: 3px; */
    background-color: var(--secondary-color);
    animation-name: link-border;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    transform: skew(20deg);
    z-index: -1;


}

@keyframes link-border {
    from {
        width: 0;
    }
    to {
        width: 75%;
    }
}



ul#site-navigation li:nth-last-child(1) a{
    margin-left: 100px;
    color: black;
    background-color: var(--secondary-color);
    padding: 25px;
    font-weight: 600;
    font-stretch: expanded;

}

ul#site-navigation li:nth-last-child(1) a:hover::before {
    background-color: transparent;
    animation-name: none;
    animation-duration: 0;
    animation-timing-function: none;
    transform: none;
}

/* Navbar Styling */





/* Homepage Styling */

#site-heading {
    margin: 0;
    color: var(--secondary-color);
}

section.site-section {
    height: 100vh;
    width: 100vw;
}

section.site-section.intro-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    background-image: url("../static/images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -10vh;
    /* border: 1px solid white; */
}


section.site-section.intro-section div.intro-section__holder {
    width: fit-content;
    position: absolute;
    left: 5vw;
    top: 20%;
}

h1#site-heading {
    font-weight: bolder;
    letter-spacing: 0.1em;
    width: 500px;
    font-size: 4.5rem;
    text-align: center;
    color: var(--default-color);
}

h1#site-heading span::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    border-bottom: 5px solid var(--default-color);
    animation-name: grow-border;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;  
}

@keyframes grow-border {
    from {
        width: 0%;
        border-bottom-color: var(--accent-color);
    } to {
        width: 55%;
        border-bottom-color: var(--default-color);
    }
}


h1#site-heading::first-letter {
    font-size: larger;
    /* text-decoration: underline white 5px; */
}


h1#site-heading span {
    /* margin-left: -200px; */
    position: relative;
    /* padding-bottom: 10px; */
}

p#company-introduction {
    /* display: none; */
    width: 400px;
    word-wrap: break-word;
    color: var(--default-color);
    opacity: 0.7;
    padding-left: 5px;
    /* text-align: center;
    margin: auto; */
}

.site-text {
    word-wrap: break-word;
    color: var(--default-color);
}

.site-section.services-section {
    margin-top: -10vh;
    position: relative;
    z-index: 1;
    height: 60vh;
}

/* .site-section.services-section::before {
    content: "";
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 10vh;
    background-color: #353839;
    z-index: -1;
} */

#service-cards-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    /* width: 100%; */
}

.service-card {
    height: 350px;
    width: 300px;
    /* border: 2px solid black; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: hidden;

}

.service-card-section.section-top {
    height: 50%;
    overflow: hidden;
    position: relative;
    transition: all .2s ease-in;

}

.service-card-section.section-top img {
    width: 100%;
    height: 100%;
    background-size: cover;

}

.service-card-section.section-top p {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: -1;
    transition: all .1s ease-in; 
}

.service-card-section.section-top p::before {
    content: "";
    width: 100%;
    height: 0;
    background-color: var(--secondary-color);
    z-index: -1;
    position: absolute;
    top: 0;
}

.service-card-section.section-top:hover {
    cursor: pointer;
}

.service-card-section.section-top:hover img {
    opacity: 0.5;
}

.service-card-section.section-top:hover p {
    z-index: 1;
    font-size: 3em;
    width: 100%;
}

.service-card-section.section-top:hover p::before {
    height: 100%;
}

.service-card-section.section-bot {
    height: 50%;
    padding: 10px;

}

.service-card-section.section-bot p {
    height: 100%;
    text-overflow: hidden;
    margin: 0;
}

.site-section.testimonials-section {
    height: 120vh;
    width: 90vw;
    margin: auto;
}

#testimonials-holder {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}


.testimonial-card {
    display: flex;
    width: 40%;
    height: 500px;
    background-color: gray;
    /* background-color: rgb(69, 38, 182); */
    border-radius: 20px;
    padding: 20px;
    /* margin-bottom: 100px; */
}

.testimonial-card:nth-child(odd) {
    margin-left: 60%;
}

.testimonial-card-section.testimonial-card-left {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.testimonial-card-section.testimonial-card-left .testimonial-profile-holder {
    width: 70%;
    height: fit-content;
}

.testimonial-card-section.testimonial-card-left .testimonial-profile-holder img {
    width: 100%;
    height: 70%;
    background-size: cover;
}


.testimonial-card-section.testimonial-card-right {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 60%;
    position: relative;
}

.testimonial-card-section.testimonial-card-right img.open-quotes {
    position: absolute;
    width: 50px;
    height: 40px;
    top: -30px;

}

.testimonial-card-section.testimonial-card-right img.close-quotes {
    position: absolute;
    width: 50px;
    height: 40px;
    bottom: -30px;
    right: 0;
}

.testimonial-details {
    width: 100%;
}

.testimonial-details.details-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    /* border: 1px solid red; */
}

.testimonial-details.details-top p.testimonial-author {
    width: 60%;
    padding-top: 5px;
    margin: 0;
    color: white;
    font-weight: 700;
}

.ratings {
    display: flex;
    width: 40%;
    height: 20px;
    justify-content: space-between;
}

.ratings div:nth-last-child(1) {
    margin-right: 10px;
}

.ratings .star-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}

.ratings .star-rating img {
    width: 80%;
    height: 80%;
}

.ratings p {
    color: white;
}

.testimonial-details.details-body p:nth-child(2) {
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.testimonial-details.details-body p {
}

footer#site-footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #3e3e3e;
    margin-top: 20vh;
    height: 50vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
}

img#site-logo-footer {
    width: 150px;
    height: 120px;
}

.footer-section {
    /* border: 1px solid black; */
}

.footer-section.footer-section-top {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.footer-section.footer-section-bottom {
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-section.footer-section-bottom div a {
    text-decoration: none;
}

.footer-section.footer-section-bottom div h3 {
    color: var(--accent-color);
}

.footer-section.footer-section-bottom div p {
    color: white;
    text-align: center;
}
.footer-section.footer-section-bottom div:nth-child(1) ul li{
    color: white;
}

.footer-section.footer-section-bottom div:nth-child(1) ul li a {
    color: white;
    text-decoration: none;
}

.footer-section.footer-section-bottom div {
    width: 20%;
    border-right: 2px solid white;
    padding: 20px;
    height: 200px;

}

.footer-section.footer-section-bottom div:nth-last-child(1) {
    position: relative;
}

.footer-section.footer-section-bottom div:nth-last-child(1) img {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 55px;
    left: 80px;
}

.footer-section.footer-section-bottom h3 {
    color: white;
    text-align: center;
}
/* Homepage Styling */



/* Services Styling */

div#services-body {
    /* height: 100vh; */
    color: var(--default-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.service-banner {
    width: 22%;
    display: flex;
    flex-direction: column;
    transition: all .15s ease-in;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;} */
}
.service-banner:hover {
    transform: scale(1.05);
    cursor: pointer;
    /* border: 2px solid var(--secondary-color); */
}

.service-banner img {
    width: 100%;
    height: 30%;
}


.service-banner-content {
    width: 100%;
    background-color: rgb(30, 29, 33);
    color: white;
    padding: 40px;
    height: 70%;
}

.service-banner-info {
    height: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /* border: 1px solid white; */
}

.service-banner-info h1.service-heading {
    font-size: 2rem;
    margin-bottom: 50px;
    text-align: left;

}


.service-banner-info p {
    color: white;
    height: 100%;
    font-size: 1rem;
}

.service-banner-info p::first-letter {
    font-size: 3rem;
    color: var(--secondary-color);
    float: left;
}

a.button6{
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #FFFFFF;
    background-color: var(--secondary-color);
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align: center;
    position: absolute;
    bottom: 20px;
}


@media all and (max-width:30em){

     a.button6{
        display: block;
        margin: 0.4em auto;
     }

}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bg-color);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* End Services Styling */



/* Why Choose Us Styling */


/* End Why Choose Us Styling */